<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="Test">
  <parameter name="Browser" value="Firfox"></parameter>
  <groups>
  <run>
  <include name="group1"></include>
  </run>  
  </groups>
    <classes>
      <!--<class name="executionEngine.Ajaxdemo"/>-->
      <!--<class name="executionEngine.JavaSE_Test"/>-->
      <!--<class name="executionEngine.BrokenLinks"/>-->      
      <!--class name="executionEngine.PracticeForm1"/> -->
      <class name="executionEngine.TestNG_Operations"/>         
          
    </classes>
    </test> <!-- Test -->  
</suite> <!-- Suite -->